*{
	padding:0px;
	margin:0px;
}
body{
	font-family: serif;
	font-size:14px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
	font-family: sans-serif;
}
img{
	max-width: 100%;
	height: auto;

}
a{
	text-decoration: none;

}
a:Hover{
	text-decoration: none;

}
.flag{
	color: black;
	background-color: greenyellow;
	font-size: 100;
	font-weight: 300;
	margin: 40px 0px;
	padding: 10px 0px;
	text-transform: uppercase;
	text-align: center;
}

.green{
	width: 780px;
	height: 400px;
	margin: 5px 100px 0px;
	background: green;
	position: relative;

}
.red{
	width: 178px;
	height: 178px;
	background: red;
	border-radius: 100%;
	position: absolute;
	top:30%;
	left:38%
	
}

.green 1{
	width: 178px;
	height: 178px;
	background: red;
	border-radius: 100%;
	position: absolute;
	top:30%;
	left:28%
}

.red 1{
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 100%;
	position: absolute;
	transform: translate( 145px,50px);
}
.fb{
width: 160px;
position: fixed;
top: 50%;
right: 0px;
right: -128px



}
.fb:Hover{
	right:-5px;
	transition: 1s;
	cursor: pointer;
	
}

.social-icons{
	width: 100%;
	display: block;
	text-align: center;
	padding: 80px 0px 0px;
	font-size: 30px;
}
.social-icons li{
	list-style: none;
	display: inline-block;
}
.social-icons li a{
	display: block;
	margin: 0px 8px;

}
.social-icons li a .fa-facbook{
	height: 60px;
	width: 60px;
	line-height: 60px;
	background: #0A82ED;
	color: #fff;
	border-radius: 100%;
	border: 1px social #0A82ED;
	margin: 0PX 10PX;
	transition: 1S;
	
}
.social-icons li a .facebook:Hover{
	background: transparent;
	color: #0A82ED;
	border: 1px solid #0A82ED;
}

.Social-icons li a .fa-instagram{
	height: 60px;
	width: 60px;
	line-height: 60px;
	background: #FD00BB;
	color: #fff;
	border-radius: 100%;
	border: 1px solid:#FD00BB;
	transform: 1s;
}
.social-icons li a .instagram:Hover{
	background: transparent;
	color: #FD00BB;
	border: 1px solid #FD00BB;
}
.Social-icons li a .fa-whatsapp{
	height: 60PX;
	width: 60px;
	line-height: 60px;
	background: #1AD03F;
	color: #fff;
	border-radius: 100%;
	border: 1px solid:#1AD03F;
	transform: 1s;
}
.social-icons li a .whatsapp:Hover{
	background: transparent;
	color: #FD00BB;
	border: 1px solid #1AD03F;
}
.Social-icons li a .fa-twitter{
	height: 60PX;
	width: 60px;
	line-height: 60px;
	background: #000000;
	color: #fff;
	border-radius: 100%;
	border: 1px solid:#000000;
	transform: 1s;
}
.social-icons li a .twitter:Hover{
	background: transparent;
	color: #000000;
	border: 1px solid #000000;
}
.Social-icons li a .fa-youtube{
	height: 60PX;
	width: 60px;
	line-height: 60px;
	background: #F70000;
	color: #fff;
	border-radius: 100%;
	border: 1px solid:#F70000;
	transform: 1s;
}
.social-icons li a .youtube:Hover{
	background: transparent;
	color: #F70000;
	border: 1px solid #F70000;
}
.Social-icons li a .fa-linkedin{
	height: 60PX;
	width: 60px;
	line-height: 60px;
	background: #006394;
	color: #fff;
	border-radius: 100%;
	border: 1px solid:#006394;
	transform: 1s;
}
.social-icons li a .linkedin:Hover{
	background: transparent;
	color: #006394;
	border: 1px solid #006394;
}
.Social-icons li a .fa-snapchat{
	height: 60PX;
	width: 60px;
	line-height: 60px;
	background: #F7F400;
	color: #fff;
	border-radius: 100%;
	border: 1px solid:#F7F400;
	transform: 1s;
}
.social-icons li a .snapchat:Hover{
	background: transparent;
	color: #F7F400;
	border: 1px solid #F7F400;
}